@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --primary: blueviolet;
    --primary-dark: #6318a8;
    --bg: white;
    --bg-color: rgb(250, 245, 255);
    --bg-dark: #fafafa;
    --text-gray: #818181;
    --text-gray-dark: #686868;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-dark);
    font-family: 'PT Sans', sans-serif;
}

.container {
    margin: auto;
    margin-top: 12px;
    width: 90vw;
    min-height: 100vh;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(min-content,max-content);
}
header {
    grid-column: 1 / span 12;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
}
.sidebar {
    grid-column: 1 / span 3;
    align-self: start; 
    border-radius: 8px;
    background-color: var(--bg);
    padding: 16px;
}
.content {
    grid-column: 4 / span 9;
    min-height: 70vh;
    border-radius: 8px;
    background-color: var(--bg);
    padding: 16px;
}
.footer {
    min-height: 15vh;
    grid-column: 1 / span 12;
    border-radius: 8px;
    background-color: var(--bg);
    padding: 16px;
}

.logo {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--primary-dark);
    cursor: pointer;
}
.search {
    border: solid 1px transparent;
    border-radius: 32px 0 0 32px;
    background-color: var(--bg-color);
    font-size: 1rem;
    height: 48px;
    padding: 12px;
    padding-right: 28px;
    color: var(--text-gray);
    outline: none;
    transition: 400ms ease;
}
.search:focus {
    border: solid 1px var(--primary);
}
/*search icon*/
.h-6.w-6 {
    width: 16px;
    height: 16px;
    color: var(--bg);
}
.search-btn {
    border: none;
    height: 48px;
    width: 48px;
    padding: 16px;
    margin-left: -20px;
    border-radius: 32px;
    background-color: var(--primary);
    transition: 400ms ease;
}
.search-btn:hover {
    background-color: var(--primary-dark);
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .sidebar > h2 {
    margin: 0;
} */
.sidebar > ul {
    list-style: none;
    padding: 0;
    margin-top: 8px;
}
.sidebar > ul > li {
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.sidebar > ul > li:hover {
    background-color: var(--bg-color);
}

#trending > li {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
}
#trending > li > img {
    grid-area: 1 / 1 / span 2 / span 3;
    width: 90%;
    border-radius: 50px;
}
#trending > li > h3 {
    grid-area: 1 / 4 / 2 / span 9;
    margin:0;
    color: var(--text-gray-dark);
    padding-left: 10px;
}
#trending > li > div {
    grid-area: 2 / 4 / 3 / span 9;
    margin:0;
    color: var(--text-gray);
    padding-left: 10px;
}
.subheading {
    font-size: 1.5rem;
    margin: 0;
    color: var(--primary-dark);
}
#dis1-text > h3 {
    color: var(--text-gray-dark);
}
#dis1-text > p {
    color: var(--text-gray);
}
#not-found {
    text-align: center;
    color: var(--text-gray);
    line-height: 10rem;
}